<div class="sidebar-item-inner">
        <div class="separator"></div>
        <button class="editor-project-translate-sidebar-translate action-primary">
            <span class="editor-project-translate-sidebar-translate-inner">
                {{t 'app.translate'}}
            </span>
        </button>
        <button class="editor-project-translate-sidebar-cancel action-secondary">
            <span class="editor-project-translate-sidebar-cancel-inner">
                {{t 'app.cancel'}}
            </span>
        </button>
        <div class="separator" />
</div>
