<div class="sidebar-item-inner">
  <div class="separator"></div>
  <button type="submit" class="action-primary save">
    <span class="user-profile-add-sidebar-save-inner">{{t 'app.save'}}</span>
  </button>
  <button type="button" class="action-secondary cancel">
    <span class="user-profile-add-sidebar-cancel-inner">{{t 'app.cancel'}}</span>
  </button>
  <div class="separator"></div>
</div>
