<div class="publishOptions">
  <form class="downloadCourse forms" action="importsourcecheck" method="post" autocomplete="off">
  <div class="inner publish-summary" id="summary-list">
      <div class="title green">Publish settings</div>
      <div class="description">The course will be published using the following tracking plugin.</div>
      <div class="col-row tb-row publish-summary-none">
        <div class="col-100">{{t 'app.noplugintypes'}}</div>
      </div>
  </div>
  <div class="inner publish-options" id="options-list">
    <div class="title amber">Publish options</div>
    <div class="description">The following plugins can be used.</div>
    <div class="col-row tb-row publish-options-none">
      <div class="col-100">{{t 'app.noplugintypes'}}</div>
    </div>
  </div>
  <input type="hidden" name="trackingPluginJson" id="trackingPluginJson" />
  </form>
</div>
