<div class="publish-config-edit-inner form-container">
  <div class="publish-config-edit-buttons">
    <div class="separator"></div>
    <button class="publish-config-edit-sidebar-save action-primary">
      <span class="publish-config-edit-sidebar-save-inner">{{t 'app.save'}}</span>
    </button>
    <button class="publish-config-edit-sidebar-cancel action-secondary">
      <span class="publish-config-edit-sidebar-cancel-inner">{{t 'app.cancel'}}</span>
    </button>
    <div class="separator"></div>
  </div>
</div>
