<div class="sidebar-item-inner">
  <div class="separator"></div>

  <button type="submit" class="import action-primary">
    <span>{{t 'app.importsidebarbutton'}}</span>
  </button>
  <button type="button" class="cancel action-secondary">
    <span>{{t 'app.cancel'}}</span>
  </button>
</div>
