<div class="sidebar-item-inner">
    <div class="separator"></div>
    <button class="import  action-primary">
        <span class="">{{t "app.importsidebarbutton"}}</span>
    </button>
    <button class="cancel action-secondary">
        <span class="">{{t "app.cancel"}}</span>
    </button>
    <div class="separator"></div>

</div>
