<div class="courseImport-inner">
  <div class="form-container form-container-style">
    <div class="inner">
      <form action="/import" method="post">
          <div class="form-group">
            <input type="file" name="file" id="file">
          </div>
      </form>
    </div>
  </div>
</div>
