<div class="sidebar-item-inner">

  <div class="separator"></div>

    <button class="sidebar-import-save import action-primary">
        {{t "app.importsidebarbutton"}}
    </button>
    <button class="sidebar-import-cancel cancel action-secondary">
        {{t "app.cancel"}}
    </button>
</div>
