@import 'variables';

.project-list-item {
    background-color:@white;
    color:#9d9d9d;
    text-align:center;
    &.selected {
        background-color:@primary-color;
        .projects-details-label {
            color:#fff;
        }
    }
    .open-context-icon {
        float:left;
        transition:color 0.3s;
        &:hover {
            color:darken(@primary-color,10%);
        }
    }

    .project-detail-title-inner, .project-settings a {
        color: @primary-color;
    }    
}